<meta charset="utf-8">
 <meta name="description" content="Blogs on Machine Learning, Advanced Python and Algorithms">
  <meta name="keywords" content="machine learning, deep learning, python, algorithms, java, code, programming, hooli, regression, convolutional neural networks, recurrent neural networks, neural networks, CNN, RNN, logistic regression, natural language processing, NLP">
  <meta name="author" content="Abhishek Patel">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Title }}</title>

<link href="/css/app.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" rel="stylesheet"> 

<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/showdown.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/viewing.css">
<link rel="shortcut icon" href="/img/favicon.ico">
