<nav class="navbar navbar-default-blanca navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-left logo-link" href="https://blog.apbytes.com">
				<img src="https://blog.apbytes.com/favicon.ico" class="img-responsive logo" style="display: inline-block"/>
			</a> -->
			<a class="navbar-brand name-plate" href="{{ .Site.BaseURL }}">Home</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="http://www.apbytes.com">About Me</a></li>
			</ul>
		</div>
	</div>
</nav>
