<div class="blogCard">
	{{ if (.isEmptyList) }}
			<h1 class="display-3">
				Cool stuff coming soon.
			</h1>
			<h3 class="display-3"> But here's a parting gift<h3>
	{{ else }}
		<h1 class="display-3">
			More coming soon.
		</h1>
	{{ end }}
	<br><br>
	<h3 class="display-3">
		Well begun is half done. - Aristotle					
	</h3>
	<div class="lead" onclick="window.location='http://www.apbytes.com';" style="cursor:pointer">
		Check<a href="http://www.apbytes.com"> <u><i>this</i></u> </a>out while you are at it
	</div>
</div>