<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "navbar.html" . }}
	<div class="container">
		{{ if (not .Pages) }}
			<div id="noBlogs" style="display:block;opacity:1" class="noBlogs ">
				{{ partial "parting_gift.html" (dict "context" . "isEmptyList" true ) }}
			</div>
		{{ else }}
			<div id="blogsContainer" class="blogsContainer">
			<!-- Ranges through content/posts/*.md -->
		    {{ range .Pages  }}
				<div class="blogCard jumbotron singleCard" style="{{ if (.Params.card_background) }} background: {{.Params.card_background}} {{ end }}">
			    
			        <div class="content-wrapper">
			        	<h1 class="display-3">
				            <a href="{{.Permalink}}">{{.Title}}</a>
			            </h1>
			            <div class="date lead">{{.Date | time.Format ":date_long" }}</div>						
			        </div>
			    </div>
		    {{ end }}			
		</div>
		<div class="oneBlog" style="display: block">
			{{ partial "parting_gift.html" (dict "context" . "isEmptyList" false ) }}    
		</div>
		{{ end }}

		
	</div>
	<!-- TODO: Random Quote panel -->

	<!-- Scripts -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>